:root {
	--dark: #3f2a23;
	--rust: #945e4a;
	--blush: #ffc7b3;
	--dusty-rose: #e09e87;
	--forest-green: #47d6ba;
	--aqua: #99e0d2;
	--cream: #fff0ea;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: var(--dark);
	scroll-behavior: smooth;
}

/* Grid column layout */
.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1rem;
}
.grid-col {
	padding: 1rem;
}
.no-gap {
	grid-gap: 0;
}
/* Define column widths */
.col-1 {
	grid-column: span 1 / span 1;
}
.col-2 {
	grid-column: span 2 / span 2;
}
.col-3 {
	grid-column: span 3 / span 3;
}
.col-4 {
	grid-column: span 4 / span 4;
}
.col-5 {
	grid-column: span 5 / span 5;
}
.col-6 {
	grid-column: span 6 / span 6;
}
.col-7 {
	grid-column: span 7 / span 7;
}
.col-8 {
	grid-column: span 8 / span 8;
}
.col-9 {
	grid-column: span 9 / span 9;
}
.col-10 {
	grid-column: span 10 / span 10;
}
.col-11 {
	grid-column: span 11 / span 11;
}
.col-12 {
	grid-column: span 12 / span 12;
}

/* Define column starting points */
.start-1 {
	grid-column-start: 1;
}
.start-2 {
	grid-column-start: 2;
}
.start-3 {
	grid-column-start: 3;
}
.start-4 {
	grid-column-start: 4;
}
.start-5 {
	grid-column-start: 5;
}
.start-6 {
	grid-column-start: 6;
}
.start-7 {
	grid-column-start: 7;
}
.start-8 {
	grid-column-start: 8;
}
.start-9 {
	grid-column-start: 9;
}
.start-10 {
	grid-column-start: 10;
}
.start-11 {
	grid-column-start: 11;
}
.start-12 {
	grid-column-start: 12;
}

/* END OF GRID CLASSES */

/* UTILITY CLASSES */
/* Margin and Padding */
.mt-auto {
	margin-top: auto;
}
.mb-auto {
	margin-bottom: auto;
}
.mr-auto {
	margin-right: auto;
}
.ml-auto {
	margin-left: auto;
}
.mt-1 {
	margin-top: 0.25rem;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-3 {
	margin-top: 1rem;
}

.mt-4 {
	margin-top: 2rem;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-3 {
	margin-bottom: 1rem;
}

.mb-4 {
	margin-bottom: 2rem;
}

.ml-1 {
	margin-left: 0.25rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.ml-3 {
	margin-left: 1rem;
}

.ml-4 {
	margin-left: 2rem;
}

.mr-1 {
	margin-right: 0.25rem;
}

.mr-2 {
	margin-right: 0.5rem;
}

.mr-3 {
	margin-right: 1rem;
}

.mr-4 {
	margin-right: 2rem;
}

.pt-1 {
	padding-top: 0.25rem;
}

.pt-2 {
	padding-top: 0.5rem;
}

.pt-3 {
	padding-top: 1rem;
}

.pt-4 {
	padding-top: 2rem;
}

.pb-1 {
	padding-bottom: 0.25rem;
}

.pb-2 {
	padding-bottom: 0.5rem;
}

.pb-3 {
	padding-bottom: 1rem;
}

.pb-4 {
	padding-bottom: 2rem;
}

.pl-1 {
	padding-left: 0.25rem;
}

.pl-2 {
	padding-left: 0.5rem;
}

.pl-3 {
	padding-left: 1rem;
}

.pl-4 {
	padding-left: 2rem;
}

.pr-1 {
	padding-right: 0.25rem;
}

.pr-2 {
	padding-right: 0.5rem;
}

.pr-3 {
	padding-right: 1rem;
}

.pr-4 {
	padding-right: 2rem;
}

/* Flexbox Utilities */
.flex {
	display: flex;
}

.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-space-between {
	justify-content: space-between;
}
.justify-space-around {
	justify-content: space-around;
}

.align-start {
	align-items: flex-start;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.align-stretch {
	align-items: stretch;
}

/* Text Utilities */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-bold {
	font-weight: bold;
}

.text-italic {
	font-style: italic;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-lowercase {
	text-transform: lowercase;
}
.text-decor {
	text-decoration: none;
}

/* Border Utilities */
.border {
	border: 1px solid black;
}

.border-top {
	border-top: 1px solid black;
}

.border-right {
	border-right: 1px solid black;
}

.border-bottom {
	border-bottom: 1px solid black;
}

.border-left {
	border-left: 1px solid black;
}

/* Width Utilities */
.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.w-33 {
	width: 33.33%;
}

.w-25 {
	width: 25%;
}
/* end of width utilities */
/* END OF UTILITY CLASSES */
/* -------------------------------------------------------- */

/* BUTTONS */
.btn {
	background-color: #ffc7b3;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 0.9rem;
	border: solid 1px black;
	border-radius: 0.5em;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.btn:hover {
	background-color: #ff9f7a;
}
/* END OF BUTTONS */

/* COLORS */
/* Backgrounds */
.bg-rust {
	background-color: var(--rust);
}
.bg-blush {
	background-color: var(--blush);
}
.bg-dusty-rose {
	background-color: var(--dusty-rose);
}
.bg-forest-green {
	background-color: var(--forest-green);
}
.bg-aqua {
	background-color: var(--aqua);
}
.bg-cream {
	background-color: var(--cream);
}

/* fonts */
.color-rust {
	color: var(--rust);
}
.color-blush {
	color: var(--blush);
}
.color-dusty-rose {
	color: var(--dusty-rose);
}
.color-forest-green {
	color: var(--forest-green);
}
.color-aqua {
	color: var(--aqua);
}
.color-cream {
	color: var(--cream);
}
.color-dark {
	color: var(--dark);
}
