.logo {
	box-shadow: rgb(0, 0, 0) 0px 0px 2px 3px;
	border-radius: 50%;
background-color: var(--bg-secondary-lighter);
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(23, 68, 68, 0.521);
	transition: opacity 500ms;
}