.nav {
	color: white;
}
.nav ul li {
	list-style: none;
	display: inline-block;
}

.signupBtn {
	height: 40px;
	padding: 0 1em;
}
.burgerMenu{
	font-size: 40px;
	opacity: 80%;
	text-align: center;
	padding: 5px;
}