.card {
	border-radius: 0.5em;
	color: white;
}
.logo {
	width: 4rem;
	font-size: 3em;
	text-align: center;
	filter: drop-shadow(0 0 1px rgba(36, 153, 160, .9));
}
.title {
	font-size: 1.25rem;
	font-weight: 600;
	color: #ba3d52;
}

.desc {
	font-size: 0.7rem;
}
.arrowIcon {
	font-size: 2.5em;
	border-radius: 50%;
	padding: 0.2em;
	cursor: pointer;
	filter: drop-shadow(0 0 4px rgba(36, 153, 160, .9));
}
.glass {
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	padding: 20px;
}
